.main-banner {
  background-image: url("app/assets/images/main-banner.jpg"); 
  top: 70px;
  left: 0px;
}

.main-text {
  margin-top: 180px;
  font-weight: 1.4em;
  text-align: center;
}

.text-banner {
  margin-top: 20px;
  font-weight: 1.2em;
  text-align: center;
}