.main-banner {
  position: static;
  background-image:  url('/assets/banner.jpg'); 
  background-size: cover;
  height: 500px;
}

.main-text {
  margin-top: 70px;
  font-weight: 1.4em;
  text-align: center;
}

.text-banner {
  margin-top: 70px;
  font-weight: 1.2em;
  text-align: center;
}