.btn-blue {
  font-weight: 1.2em;
  text-align: center;
  margin-bottom: 50px;
}

.btn-blue a {
  background-color: #007cc1;
  color: #f2f2f2;
  border-radius: 20px;
  border: 1px solid #f2f2f2;
  padding: 10px 30px; 

}
.btn-blue a:hover {
  color: #007cc1;
  background-color: #f2f2f2;
  border: 1px solid #a5a5a5;
  padding: 10px 30px; 
}

.btn-banner{
   margin-top: 50px;
}