
.site-footer {
  position: relative;
  right: 0;
  bottom: 0;
  left: 0;
}


.sn {
  display: flex;
  align-items: flex-end;
  justify-content: space-around;
  margin-bottom: 10px;
  margin-top: 10px;
}

.btm-footer {
  border-top: 1px solid #f2f2f2;
  display: flex;
  align-items: flex-end;
  justify-content: space-around;
  font-size: 0.8em;
}