 /* style.css */
/* --- Import Google Fonts stylesheets --- */
@import url("http://fonts.googleapis.com/ css?family=Open+Sans:400,300,700|Montserrat:400,700");
/* --- Import Components stylesheets --- */ 
@import url("components/avatar.scss"); 
@import url("components/button.scss");
@import url("components/navbar.scss");
@import url("components/card.scss");
@import url("components/tab.scss");
@import url("components/footer.scss");
@import url("components/about.scss");
@import url("components/tab.scss");

/* --- Fonts --- */ 
body {
margin: 0 auto; 
backgrdound-color: #f2f2f2;
font-family: "Roboto", "Open Sans", "Helvetica", "sans-serif"; }

h1, h2, h3 {
font-family: "Montserrat", "sans-serif";
}

p {
  letter-spacing: 1px;
}




