<section class="main-banner">
  <div class="container main-text">
    <h1>
      <strong>Discover a world of silence</strong></h1>
  </div>
  <div class="container text-banner">
    <p>Learn how to freedive, dive on one breath and discover a new world</p>
  </div>
  <div class="container btn-blue">
    <%= link_to 'Contact', contact_path%>
  </div>
  

</section>

<section class="card">
  

</section>

<section class="">
  

</section>

<section class="">
  

</section>