<section class="main-banner">
  <div class="img-bckd">
    <div class="container main-text">
      <h1>
        <strong>Discover a world of silence</strong></h1>
    </div>
    <div class="container text-banner">
      <p>Learn how to freedive, dive on one breath and discover a new world</p>
    </div>
    <div class="container btn-blue btn-banner">
      <%= link_to 'Contact', contact_path%>
    </div>
  </div>
  </section>

<section class="card">
  <div class="card1">
    <div class="top"></div>
    <div class="card-text"></div>
  </div>
  <div>
    <div class="card2">
    <div class="top"></div>
    <div class="card-text"></div>
  </div>
  <div>
    <div class="card3">
    <div class="top"></div>
    <div class="card-text"></div>
  </div>
</section>

<section class="">
  

</section>

<section class="">
  

</section>