<footer class="main-footer">
      <div class="container btm-footer">
      <p>Copyright 2016 ® Christophe LERAY</br>Made with ❤️ by <a href="https://www.malt.fr/profile/christopheleray" title="Christophe leray Full stack Webdeveloper" target="_blank">Christophe Leray</a></p>
    </div>
  </footer>